<div class="container-flex">
    <h5 class="text-center mb-5 font-gray">CADASTRAR NOVO PRODUTO </h5>
    <div class="font-green fs">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input [(ngModel)]='product.name' type="text" class="form-control" id="nome"
                    placeholder="Nome do produto">
            </div>
            <div class="form-group col-md-6">
                <label for="categoria">Categoria</label>
                <select class="form-control" id="categoria" name="categoria"  (change)='productCategory($event)'>
                    <option value='1'>Alimentos</option>
                    <option value='2'>Vestuário</option>
                    <option value='3'>Utensílios</option>
                    <option value='4'>Acessórios</option>
                    <option value='5'>Bem Estar</option>
                </select>
            </div>
        </div>
        <div class="form group">
            <label for="descricao">Descricao</label>
            <textarea [(ngModel)]='product.description' class="form-control mb-3" id="descricao" rows="3"
                placeholder="Descrição do produto..."></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="estoque">Estoque</label>
                <input [(ngModel)]='product.stock' name="estoque" type="text" class="form-control" placeholder="-">
            </div>
            <div class="form-group col-md-6">
                <label for="preco">Preço</label>
                <input [(ngModel)]='product.price' type="text" name="preco" class="form-control" placeholder="R$ 0,00">
            </div>
        </div>
        <div class="form-group">
            <label for="urlImagem">Imagem do produto</label>
            <input [(ngModel)]='product.urlImage' type="text" class="form-control" id="urlImagem"
                placeholder="Url da imagem">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button tipe="submit" class="btn btn-danger mr-4">Cancelar</button>
        <button tipe="submit" class="btn btn-success" (click)="newProduct()">Cadastrar</button>
    </div>
</div>