<tr #component class="collapse show">
    <td>
        <app-img [style]="'height: 64px;width: 64px;object-fit: cover;'" [class]="'rounded'" [src]="p.urlImage">
        </app-img>
    </td>
    <td>{{p.name}}</td>
    <td>{{p.description.substring(0,15)+"..."}}</td>
    <td>{{p.stock}}</td>
    <td>{{p.price | currency:'BRL' }}</td>
    <td><span class="badge badge-pill badge-secondary">{{ getCategoryName(p.category) }}</span></td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="showUpdateProduct()" type="button" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
            </button>
            <button (click)="showPreviewProduct()" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                    viewBox="0 0 16 16">
                    <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
            </button>
            <button (click)="deleteProduct()" type="button" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                    viewBox="0 0 16 16">
                    <path
                        d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                </svg>
            </button>
        </div>
    </td>
</tr>

<!-- Modal Preview Produto-->
<div #modalComponent class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-fam" id="exampleModalLabel">Preview Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div class="card mx-4 my-4 d-flex justify-content-center align-items-center testeAnimacao1"
                    style="width: 18rem; height: 25rem;">
                    <app-img [class]="'card-img-top'" [style]="'height: 10rem; width: 18rem;'" [src]="p.urlImage">
                    </app-img>
                    <div class="card-body d-flex align-items-end font-fam">
                        <div class="text-center" style="width: 16rem;">
                            <h5 class="card-title">{{p.name}}</h5>
                            <p class="card-text">{{p.description.substring(0,25)+"..."}}</p>
                            <p>
                                <span class="badge badge-pill badge-secondary">{{ getCategoryName(p.category) }}</span>
                            </p>
                            <p class="card-text">{{p.price | currency:'BRL'}}</p>
                            <button type="button" class="btn btn-block btn-success">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Produto-->
<div #modalComponentUpdateP class="modal fade" id="modalExemplo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-fam" id="exampleModalLabel">Alterar Dados do Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  font-fam">
                <div class="row">
                    <div class="col-md-6 font-green fs">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input [(ngModel)]='p.name' type="text" class="form-control" id="nome"
                                placeholder="{{p.name}}">
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria atual: {{ getCategoryName(p.category) }}</label>
                            <select class="form-control" id="categoria" (change)='productCategory($event)'>
                             <!--   <option>Escolha a nova categoria</option> -->
                                <option value='1'>Alimentos</option>
                                <option value='2'>Vestuário</option>
                                <option value='3'>Utensílios</option>
                                <option value='4'>Acessórios</option>
                                <option value='5'>Bem-estar</option>
                            </select>
                        </div>
                        <div class="form group">
                            <label for="descricao">Descricao</label>
                            <textarea [(ngModel)]='p.description' class="form-control mb-3" id="descricao" rows="3"
                                placeholder="{{p.description}}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="urlImagem">Imagem do produto</label>
                            <input [(ngModel)]='p.urlImage' type="text" class="form-control" id="urlImagem"
                                placeholder="{{p.urlImage}}">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="estoque">Estoque</label>
                                    <input [(ngModel)]='p.stock' type="text" class="form-control"
                                        placeholder="{{p.stock}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="preco">Preço</label>
                                    <input [(ngModel)]='p.price' type="text" class="form-control"
                                        placeholder="R$ {{p.price}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- card product-->
                        <div class="card mx-4 my-4 d-flex justify-content-center align-items-center testeAnimacao1"
                            style="width: 18rem; height: 25rem;">
                            <app-img [class]="'card-img-top'" [style]="'height: 10rem; width: 18rem;'"
                                [src]="p.urlImage">
                            </app-img>
                            <div class="card-body d-flex align-items-end ">
                                <div class="text-center" style="width: 16rem;">
                                    <h5 class="card-title">{{p.name}}</h5>
                                    <p class="card-text">{{p.description.substring(0,25)+"..."}}</p>
                                    <p>
                                        <span class="badge badge-pill badge-secondary">{{ getCategoryName(p.category)
                                            }}</span>
                                    </p>
                                    <p class="card-text">{{p.price | currency:'BRL'}}</p>
                                    <button type="button" class="btn btn-block btn-success">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn buttoncancel mr-3" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn buttonsend" (click)='updateProduct()' data-dismiss="modal">Salvar
                    mudanças</button>
            </div>
        </div>
    </div>
</div>