<app-navbar></app-navbar>

<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-12">

            <div class="row d-flex justify-content-between">

                <div class="my-4 d-flex" style="width: 18%;">
                    <img src="https://i.imgur.com/s1PLu6t.jpg" class="card-img-top" alt="...">
                </div>
    
                <div class="my-4 d-flex" style="width: 18%;">
                    <img src="https://i.imgur.com/s1PLu6t.jpg" class="card-img-top" alt="...">
                </div>
    
                <div class="my-4 d-flex" style="width: 18%;">
                    <img src="https://i.imgur.com/s1PLu6t.jpg" class="card-img-top" alt="...">
                </div>
    
                <div class="my-4 d-flex" style="width: 18%;">
                    <img src="https://i.imgur.com/s1PLu6t.jpg" class="card-img-top" alt="...">
                </div>

                <div class="my-4 d-flex" style="width: 18%;">
                    <img src="https://i.imgur.com/s1PLu6t.jpg" class="card-img-top" alt="...">
                </div>

            </div>


        </div>


    </div>
</div>

<div class="container align-items-center">
    <h1 class="text-center">Shop</h1>
    <h4 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quos temporibus molestias ea ad maiores harum dolore reprehenderit, quis velit voluptas ab aspernatur quae perspiciatis cum ipsam alias. Porro, numquam!</h4>
</div>

<div class="container mr-0">
    <div class="row">
        <div class="card mx-4 my-4 d-flex justify-content-center align-items-center shadow bg-white" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
    </div>
</div>
<div class="container mr-2">
    <div class="row">
        <div class="card mx-4 my-4 d-flex justify-content-center align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
    </div>
</div>
<div class="container mr-2">
    <div class="row">
        <div class="card mx-4 my-4 d-flex justify-content-center align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
    </div>
</div>
<div class="container mr-2">
    <div class="row">
        <div class="card mx-4 my-4 d-flex justify-content-center align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
    </div>
</div>
<div class="container mr-0">
    <div class="row">
        <div class="card mx-4 my-4 d-flex justify-content-center align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p>
                    <span class="badge badge-pill badge-secondary">Food</span>
                </p>
                <a href="#" class="btn btn-success">ADD TO CART</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>