<footer class="page-footer font-small footer-bg pt-4">


    <div class="container">

        <div class="row d-flex justify-content-start align-items-center mt-5 mb-4">

            <!-- Lado esquerdo da 1ª  llinha  -->
            <div class="col-md-4">
                <h1 class="fs-12">SIGA NAS REDES SOCIAIS</h1>

                <!--<div class="row d-flex justify-content-start">
                    <div class="col-md-6"> -->
                <ul class="social-network mb-4">
                    <li>
                        <a href="https://wwww.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
                            <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://wwww.instagram.com/generationbrasil" target="_blank" class="icoInstagram">
                            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://wwww.linkedin.com/school/generationbrasil" target="_blank" class="icoFacebook">
                            <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="icoFacebook">
                            <i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <!--    </div>
                </div> -->

                <h1 class="fs-12 mt-5">FORMAS DE PAGAMENTO</h1>
                <ul class="method-payment">
                    <li>
                        <i class="fa fa-lg fa-cc-mastercard" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-lg fa-google" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-lg fa-cc-visa" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-lg fa-paypal" aria-hidden="true"></i>

                    </li>
                </ul>

            </div>

            <!-- Centro da 1ª linha -->
            <div class="col-md-4">
                <h1 class="fs-14 ">Lifeshop</h1>
                <p class="fs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
                <h2 class="fs-14 font-weight-normal">Telefone</h2>
                <p class="fs-12"> (11) 95678-9098</p>
                <h2 class="fs-14 font-weight-normal">Email</h2>
                <p class="fs-12"> faleconosco@lifeshop.com</p>
            </div>

            <!-- Lado direito da 1ª linha -->
            <div class="col-md-4 bg-light">
                <h1 class="fs-14 ml-5">Segurança do Site</h1>
                <ul class="icons-empresa">
                    <li>
                        <img id="mt-5" src="/assets/img/bandeira-do-brasil-128px-cinza.png" alt="Bandeira do Brasil" width="35px" height="35px">
                    </li>
                    <li>
                        <img src="/assets/img/mao-segurando-um-broto-128px-cinza.png" alt="Mão segurando um ramo de planta" width="30px" height="30px">
                    </li>
                    <li>
                        <img src="/assets/img/safegoogle-128px-cinza.png" alt="Símbolo de site seguro" width="30px" height="30px">
                    </li>
                    <li>
                        <img src="/assets/img/reciclagem-128px-cinza.png" alt="Símbolo de reciclagem" width="30px" height="30px">

                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Rodapé do footer-->
    <div class="footer-copyright py-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-start">
                    <span class="text-light"> © 2021 <span class="fb-copyright">Lifeshop</span> Todos os direitos reservados por <a class="fb-copyright"
                            target="_blank" href="https://brasil.generation.org">Generation Brasil</a> </span>
                </div>
                <div class="col-md-6 d-flex text-right justify-content-end">
                    <span class="text-light">
                        <a class="text-light" href="#">Equipe</a> | <a class="text-light" href="#">Desvendando Nossa
                            Stack</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>