<footer class="page-footer font-small footer-bg pt-4">

    <div class="container font-fam">

        <div class="row d-flex justify-content-start align-items-center mt-5 mb-4">

            <!-- Lado esquerdo da 1ª  llinha  -->
            <div class="col-md-4 ">
                <h1 class="fs-12">SIGA NAS REDES SOCIAIS</h1>
                <ul class="social-network mb-4 ml-4">
                    <li>
                        <a href="https://wwww.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
                            <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://wwww.instagram.com/generationbrasil" target="_blank" class="icoInstagram">
                            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://wwww.linkedin.com/school/generationbrasil" target="_blank" class="icoFacebook">
                            <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="icoFacebook">
                            <i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <h1 class="fs-12 mt-5">FORMAS DE PAGAMENTO</h1>
                <ul class="method-payment ml-4">
                    <li>
                        <i class="fa fa-lg fa-cc-mastercard" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-lg fa-google" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-lg fa-cc-visa" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-lg fa-paypal" aria-hidden="true"></i>

                    </li>
                </ul>

            </div>

            <!-- Centro da 1ª linha -->
            <div class="col-md-4">
                <h1 class="fs-14 font-weight-bold font1">Lifeshop</h1>
                <p class="fs-12">O ecommerce sustentável que faz muito mais do que só te proporcionar boas compras e
                    experiências! O ecommerce que te permite comprar e doar!</p>
                <h2 class="fs-14 font-weight-bold font1">Telefone</h2>
                <p class="fs-12"> (11) 95678-9098</p>
                <h2 class="fs-14 font-weight-bold font1">Email</h2>
                <p class="fs-12"> faleconosco@lifeshop.com</p>
            </div>

            <!-- Lado direito da 1ª linha -->
            <div class="col-md-4 align-items-center">
                <div class="row d-flex justify-content-center mt-5">
                    <img width="130" src="https://i.imgur.com/tZcIO2b.png" alt="">
                </div>
                <div class="row d-flex justify-content-center mt-5">
                    <h1 class="fs-12">SELOS DA LIFESHOP</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <ul class="icons-empresa p-0">
                        <li>
                            <img src="/assets/img/bandeira-do-brasil-128px-cinza.png" alt="Bandeira do Brasil"
                                width="35px" height="35px">
                        </li>
                        <li>
                            <img class="mx-2" src="/assets/img/mao-segurando-um-broto-128px-cinza.png"
                                alt="Mão segurando um ramo de planta" width="30px" height="30px">
                        </li>
                        <li>
                            <img src="/assets/img/reciclagem-128px-cinza.png" alt="Símbolo de reciclagem" width="30px"
                                height="30px">

                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <!-- Rodapé do footer-->
    <div class="footer-copyright py-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-start font-fam">
                    <span class="text-light"> © 2021 <span class="fb-copyright" (click)='home()'
                            style="cursor: pointer;">Lifeshop</span> Todos os direitos reservados por <a
                            class="fb-copyright" target="_blank" href="https://brasil.generation.org">Generation
                            Brasil</a> </span>
                </div>
                <div class="col-md-6 d-flex text-right justify-content-end font-fam">
                    <span class="text-light">
                        <a class="text-light" routerLink='/equipe'>Equipe</a> | <a class="text-light"
                            routerLink='/stack'>Desvendando Nossa
                            Stack</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>