<footer class="page-footer font-small footer-bg pt-4">


    <div class="container">

        <div class="row d-flex justify-content-start">

            <!-- Lado esquerdo da 1ª  llinha  -->
            <div class="col-md-4 bg-danger">               
                <h1 class="fs-14">SIGA NAS REDES SOCIAIS </h1>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-network">
                            <li>
                                <a href="https://wwww.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
                                    <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wwww.instagram.com/generationbrasil" target="_blank" class="icoInstagram">
                                    <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        
                                </a>
                            </li>
                            <li>
                                <a href="https://wwww.linkedin.com/school/generationbrasil" target="_blank" class="icoFacebook">
                                    <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

            <!-- Centro da 1ª linha -->
            <div class="col-md-4 bg-success">
                <h1 class="fs-17">Lifeshop</h1>
                <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
                <h2 class="fs-17" >Telefone</h2>
                <p class="fs-14"> (11) 95678-9098</p>
                <h2 class="fs-17" >Email</h2>
                <p class="fs-14"> faleconosco@Lifeshop.com</p>
            </div>

            <!-- Lado direito da 1ª linha -->
            <div class="col-md-4 bg-light">
                <p class="fs-14">Segurança do Site</p>
            </div>

        </div>

        <!-- Redes Sociais 
        <div class="row">
            <div class="col-md-4 d-flex justify-content-start redes-sociais bg-light">
                <ul>
                    <li>
                        <a href="https://wwww.facebook.com/generationbrasil" target="_blank">
                            <img src="/assets/img/facebook-128px-cinza.png" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/assets/img/whatsapp-128px-cinza.png" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href="https://wwww.instagram.com/generationbrasil" target="_blank">
                            <img src="/assets/img/instagram-128px-cinza.png" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href="https://wwww.instagram.com/generationbrasil" target="_blank">
                            <img src="/assets/img/instagram-128px-cinza.png" width="30" height="30">
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-6">
                <p class="fs-14">FORMAS DE PAGAMENTO </p>
            </div>
        </div>

    </div>

    <!-- Rodapé do footer-->
    <div class="footer-copyright py-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-star">
                    <span class="text-light"> © 2021 Lifeshop Todos os direitos reservados por <a class="text-light"
                            target="_blank" href="https://brasil.generation.org">Generation Brasil</a> </span>
                </div>
                <div class="col-md-6 d-flex text-right justify-content-end">
                    <span class="text-light">
                        <a class="text-light" href="#">Equipe</a> | <a class="text-light" href="#">Desvendando Nossa
                            Stack</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>