<tr #component class="collapse show" class="font-fam" style="background-color: white;">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.zipCode}}</td>
    <td>{{user.points}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <!--EDIÇÃO DE USUÁRIO RETIRADO DO ADMINISTRADOR
            <button (click)="showUpdateUser()" type="button" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
            </button>
        -->
            <button (click)="showPreviewUser()" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                    viewBox="0 0 16 16">
                    <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
            </button>
            <button (click)="deleteUser()" type="button" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                    viewBox="0 0 16 16">
                    <path
                        d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                </svg>
            </button>
        </div>
    </td>
</tr>

<!-- Modal Preview User -->

<div #modalComponentUser class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-fam" id="exampleModalLabel">Informações do Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">

                <div class="card m-4 animado br-10" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="#364A15"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                    </div>
                    <div class="card-body font-fam">
                        <h6 class="card-title fs-14 font-weight-bolder">{{user.name}} - Pontos {{user.points}}</h6>
                        <p class="card-text d-inline">{{user.email}}</p>
                        <br>
                        <p class="card-text d-inline">Tel. {{user.phone}} </p>

                        <p class="text-center mt-2 mb-2">End. {{user.address}} - CEP {{user.zipCode}} </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Update User /RETIRADO DA PÁGINA DE ADMINISTRADOR 

<div #modalComponentUpdateUser class="modal fade" id="modalExemplo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar Dados do Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 font-green fs">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input [(ngModel)]='user.name' type="text" class="form-control" id="nome"
                                placeholder="Nome usuário">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input [(ngModel)]='user.email' type="email" class="form-control" id="email"
                                placeholder="usuario@exemplo.com">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cep">CEP</label>
                                    <input [(ngModel)]='user.zipCode' type="text" class="form-control" id="cep"
                                        placeholder="xxxxx-xxx">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefone">Telefone</label>
                                    <input [(ngModel)]='user.phone' type="text" class="form-control" id="telefone"
                                        placeholder="(xx)xxxxx-xxxx">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input [(ngModel)]='user.address' type="text" class="form-control" id="endereco"
                                placeholder="Rua, nº, bairro">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input (input)='confirmarSenha($event)' type="password" class="form-control"
                                        id="senha" placeholder="Digite senha usuário" #passwordInput>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="confirmeSenha">Confirmar Senha</label>
                                    <input [(ngModel)]='user.password' type="password" class="form-control"
                                        id="confirmeSenha" placeholder="Confirme senha" #confirmPasswordInput>
                                </div>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value='1' id="roleAdmin"
                                (change)="adminCheckbox($event)" #checkboxAdmin>
                            <label class="form-check-label" for="roleAdmin">
                                Administrador
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card m-4 animado br-10" style="width: 18rem;">
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor"
                                    class="bi bi-person" viewBox="0 0 16 16">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title fs-14 font-weight-bolder">{{user.name}} - Pontos {{user.points}}
                                </h6>
                                <p class="card-text d-inline">{{user.email}}</p>
                                <br>
                                <p class="card-text d-inline">Tel. {{user.phone}} </p>

                                <p class="text-center mt-2 mb-2">End. {{user.address}} - CEP {{user.zipCode}} </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateUser()">Salvar
                    mudanças</button>
            </div>
        </div>
    </div>
</div> -->