.fs-13 {
    font-size: 13pt;
  }
  .buttonsend {
    top: 695px;
    left: 861px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #364A15;
    color: #ffffff;
  }
  .buttonsend:hover {
    color: #ffffff;
    background-color: #A4B501;
  }

  .buttoncancel {
    top: 695px;
    left: 861px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #707070;
    color: #ffffff;
  }
  .buttoncancel:hover {
    color: #ffffff;
    background-color: #98A2AB;
  }