<div class="container" style="background-color: white;">
    <h5 class="text-center mb-4 font-fam font-gray font-weight-bold">LISTAR PRODUTOS</h5>
    <div class="row mb-3">
        <div class="col-md-6  d-flex justify-content-start">
            <div class="form-group col-md-8 ml-0 p-0">
                <label for="categorias" class="font-fam">Pesquisar por categoria:</label>
                <select id="categorias" class="form-control font-fam" (change)='findProductsByCategory($event)'>
                    <option value='0'>Todos os produtos</option>
                    <option value='1'>Alimentos</option>
                    <option value='2'>Vestuário</option>
                    <option value='3'>Utensílios</option>
                    <option value='4'>Acessórios</option>
                    <option value='5'>Bem-estar</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <p class="mb-2 d-flex justify-content-start font-fam">Pesquisar por descrição:</p>
            <form class="form-inline d-flex justify-content-start">
                <div class="form-group">
                    <input [(ngModel)]="p.description" type="text" class="form-control font-fam" style="width: 260px;" id="nome"
                        placeholder="Digite descrição produto" name="nome">
                </div>
                <button (click)="findProductsByDescription()" type="button" class="btn btn-outline-secondary ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>

    </div>

    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody app-new-product *ngFor="let p of listProducts" [p]="p">
            </tbody>
        </table>
    </div>
</div>