<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-center align-items-center my-4">

            <h1 class="text-center font1 font-weight-bold font-green my-4">Lifeshop</h1>

            <p class="text-justify font-fam font-gray my-4" style="font-size: 18px">Lifeshop é um ecommerce idealizado com o intuito de concretizar e fortalecer a base Full Stack de todos os desenvolvedores inseridos no projeto. Emergente do princípio básico de doar, a principal meta da Lifeshop é arrecadar o máximo de contribuição para repassar para ONGs relacionadas a um dos ODS (Objetivos de Desenvolvimento Sustentável) propostos pela ONU, compostos por dezessete tópicos, dentre eles o de Saúde e Bem-estar, cujo o qual o projeto fora baseado. Pensando nisso, a loja comercializa produtos que sejam sustentáveis, sendo que a cada produto vendido, 10% é acumulado para posterior envio a organizações pré-selecionadas e, para garantir a fidelidade de seus clientes, o sistema de pontuação por compra, proporciona ao usuário a oportunidade de ganhar cupons de descontos em compras futuras.</p>

            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="font1 font-weight-bold font-green my-3">O projeto</h2>
                    <p class="text-justify font-fam font-gray mb-5" style="font-size: 18px">Desde a ideia inicial, Lifeshop foi desenhada para ser o ecommerce sustentável favorito de todos os seus usuários, pensando dessa forma, o projeto foi baseado em trazer uma boa experiência ao usuário e, simultaneamnte, criar um vínculo com seus clientes de forma a incentivar a doação constante a partir de arrecadoções por porcentagem em cada produto vendido. A possibilidade de poder acumular pontos e ganhar descontos, surge do príncipio de manter-se como a loja em que o usuário possa doar e, também, receber.</p>
                </div>
                <div class="col-md-2 p-0">
                    <img src="https://i.imgur.com/KEdF0Rv.gif" style="width: 300px; height: 300px;">
                </div>
            </div>

            <h2 class="font1 font-weight-bold font-green my-3">Por que comprar na lifeshop?</h2>

            <p class="text-justify font-fam font-gray my-2 mb-5" style="font-size: 18px">A Lifeshop repassa 10% do valor de cada item comprado, independente do produto, para ONGs que promovam a saúde e o bem-estar geral. Mas muito além disso, na Lifeshop o usuário não só está contribuindo para uma causa extremamente importante como também está ganhando descontos para futuras compras. Nada mal, certo? Imagine, comprar, doar e acumular pontos que podem ser revertidos em descontos em um único botão? A grande questão, na realidade, é: Por que não comprar na Lifeshop?</p>

            <div class="row align-items-center">
                <div class="col-md-5">
                    <app-img [class]="'card-img-top'" [src]="'https://i.imgur.com/lQfb2O3.png'"></app-img>
                </div>
                <div class="col-md-7">
                    <p class="font-gray font-fam text-center" style="font-size: 18px">Se você ainda não se cadastrou na Lifeshop, não perca mais tempo! Compre tudo aquilo que você estava procurando e contribua para uma causa muito especial! <br> <a href="/cadastrar" class="font-green">Cadastre-se</a> agora!</p>
                </div>
            </div>
            <a (click)='topo()' style="cursor: pointer; text-decoration: none;" class="font1 font-green justify-content-end d-flex">Voltar ao topo</a>
            

        </div>
    </div>
</div>
<app-footer></app-footer>