<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-center align-items-center">

            <h1 class="text-center">A Lifeshop</h1>

            <h2>A ideia</h2>

            <p>Lifeshop é um ecommerce idealizado com o intuito de concretizar e fortalecer a base Full Stack de todos os desenvolvedores inseridos no projeto. Emergente do princípio básico de doar, a principal meta da Lifeshop é arrecadar o máximo de contribuição para repassar para ONGs relacionadas a ODS de número três, a qual o projeto fora baseado, que visa a saúde e bem estar das pessoas. Pensando nisso, a loja comercializa produtos que sejam sustentáveis, sendo que a cada produto vendido, x% é acumulado para posterior envio a organizações pré-selecionadas e, para garantir a fidelidade de seus clientes, o sistema de pontuação por compra, proporciona ao usuário a oportunidade de ganhar cupons de descontos em compras futuras.</p>

            <h2>O projeto</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, animi commodi expedita placeat suscipit quae
                perferendis, minus, corrupti aliquam nulla ipsum repellat. Ipsam aut sequi alias natus maiores dolor sapiente?
            </p>

            <h2>Porque comprar na lifeshop?</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit totam perspiciatis dolore odio omnis temporibus
                laborum dolorem est aliquam eligendi cum amet consectetur, accusantium porro veniam. Tempore nisi consectetur
                quos.</p>

        </div>
    </div>
</div>