<div class="container mt-5 mb-5 align-items-center">
    <div class="row">
        <h1 class="font1 font-green">Ops...Parece que você não tem permissão para entrar aqui...</h1>
    </div>
    <div class="row justify-content-center my-2">
        <app-img class="cardstyle" routerLink='/produtos/vestuario' [class]="'card-img-top'" [src]="'https://i.imgur.com/E5QhSqW.gif'" style="width: 500px; height: 500px;"></app-img>
    </div>
    <div class="row">
        <p class="font-fam font-gray text-justify">Infelizmente, ao que parece, você não possui permissão para acessar esse recurso da Lifeshop. Isso pode ser porque você não está em uma conta de administrador. Por favor, faça login com uma conta de administrador. Caso isso seja um erro, <a class="font-gray font-fam" routerLink='/equipe'>nos contate.</a></p>
    </div>
</div>