<nav class="navbar navbar-expand-lg navbar-dark navOpt">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> <img width="100" src="https://i.imgur.com/mt12qR4.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 font">
          <li class="nav-item">
            <a class="nav-link active transit-size" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active transit-size" aria-current="page" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active transit-size" aria-current="page" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active transit-size" aria-current="page" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active transit-size" aria-current="page" href="#">Sobre</a>
          </li>
        </ul>
        <form class="d-flex ml-auto">
          <input class="form-control me-2 radius mc-font font" type="search" placeholder="O que você está procurando?" aria-label="Search">
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 font container-logo">
            <li class="nav-item">
                
              </li>
            <li class="nav-item">
            <a class="nav-link active mc-font transit-size" aria-current="page" href="#" routerLink="/entrar"><img src="assets/img/login.png" width="25" height="25" alt=""> Minha Conta </a>
          </li>
          <li class="nav-item">
            <img class="transit-size" src="assets/img/carrinho.png" width="25" height="25" alt="">
          </li>
        </ul>
      </div>
    </div>
  </nav>