<nav class="navbar navbar-expand-lg navOpt font-fam">
  <a class="navbar-brand" href="index.html"> <img width="100" src="https://i.imgur.com/HdqthhR.png" alt=""></a>
  <button class="navbar-toggler font navbar-light" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link transit-size" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active transit-size" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active transit-size" href="#" routerLink="/produtos">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transit-size" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active transit-size" href="#" routerLink="/sobre">Sobre</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 me-2 radius mc-font" id="search" type="search" href=""
        placeholder="O que você procura?">
    </form>





    <ul class="navbar-nav me-auto mb-2 mb-lg-0 font container-logo">
      <li *ngIf="!autenticado" class="nav-item">
        <a class="nav-link active mc-font transit-size" aria-current="page" href="#" data-toggle="modal"
          data-target="#login"><img src="assets/img/login.png" width="25" height="25" alt=""> Login</a>
      </li>
      <li *ngIf="!autenticado" class="nav-item">
        <a class="nav-link active mc-font transit-size" aria-current="page" href="#" data-toggle="modal"
          data-target="#login"><img src="assets/img/login.png" width="25" height="25" alt=""> Login</a>
      </li>
      <li *ngIf="autenticado" class="nav-item">
        <div class="dropdown mx-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item active transit-size" routerLink="/pedido" href="#">Meus Pedidos</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <img class="transit-size" src="assets/img/carrinho.png" width="25" height="25" alt="" routerLink='/carrinho'>
      </li>
    </ul>
  </div>
</nav>

<app-login>



  <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 font container-logo">
  <li class="nav-item">
    <a class="nav-link active mc-font transit-size" aria-current="page" href="#" data-toggle="modal"
      data-target="#login"><img src="assets/img/login.png" width="25" height="25" alt=""> Login </a>
  </li>
  <li class="nav-item">
    <img class="transit-size" src="assets/img/carrinho.png" width="25" height="25" alt="">
  </li>
</ul>
</div>
</nav>
<app-login></app-login> -->