<app-navbar></app-navbar>
<div class="container align-items-center mt-5">
    <h1 class="text-center font1 font-green">Acessórios</h1>
    <h4 class="text-center font-gray font-fam">Aqui você encontra todos os produtos da categoria de acessórios da Lifeshop! Caso deseje visualizar todos os produtos, independente da categoria, <a routerLink='/produtos' class="font-green">clique aqui</a> ou em 'Shop' na barra de navegação! E, caso deseje uma pesquisa personalizada, utilize nossa barra de pesquisa!</h4>
</div>
<div class="container">
    <div class="row">
        <app-products-category [idCategory]='4'></app-products-category>
    </div>
</div>
<app-footer></app-footer>
