.buttonpadrao{
    top: 695px;
    left: 861px;
    width: 160px;
    height: 35px;
    background: #364A15 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: #fff;
}
.button:hover{
    color: #fff;
}

.radius{
    border-radius: 20px;
}