/* .buttonpadrao{
    top: 695px;
    left: 861px;
    width: 160px;
    height: 35px;
    background: #364A15 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.buttonpadrao:hover{
    color: #fff;
} */
.buttonpadrao {
    top: 695px;
    left: 861px;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    background-color: #364A15;
    color: #ffffff;
    border-radius: 10px;
}
.buttonpadrao:hover {
    color: #ffffff;
    background-color: #A4B501;
}
a{
    text-decoration: none;
}
a:hover{
    color: #364A15;
}