<div #component class="card p-4 font-fam">
    <div class="text-right mb-4">
        <button (click)="deleteCart()" class="btn btn-outline-danger">
            Excluir Carrinho
        </button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Qtd disp.</th>
                <th scope="col">Qtd</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody app-cart-item *ngFor="let c of listCartItems;" (productEvent)="computeCart($event)" [cartItem]="c">
        </tbody>
    </table>
    <h4>Total de itens <span class="badge badge-pill badge-light">{{ totalItems }}</span></h4>
    <hr>
    <h5>Preço sem desconto: <span class="badge badge-pill badge-light">{{ finalPriceWithoutDiscount |currency:'BRL'}}</span></h5>
    <h5>Desconto: <span class="badge badge-pill badge-success">{{ getDiscount() | currency:'BRL'}}</span></h5>
    <h4 class="mb-5">Preço final: <span class="badge badge-pill badge-secondary">{{ finalPriceWithoutDiscount-getDiscount() | currency:'BRL'}}</span></h4>


    <button *ngIf="!processingOrder && listCartItems.length == 0" class="btn btn-lg btn-outline-success"
        disabled>Carrinho vazio</button>
    <button *ngIf="processingOrder && listCartItems.length > 0" class="btn btn-lg btn-outline-success"
        disabled>Processando compra...</button>
    <button *ngIf="!processingOrder && listCartItems.length > 0" (click)="checkout()"
        class="btn btn-lg btn-success">Finalizar compra</button>
</div>