<div class="container font-fam">
    <div class="row d-flex justify-content-start mt-5">
        <div class="col-md-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">N. Administrador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Gerenciar</th>
                    </tr>
                    <tr>
                        <th scope="row">Produtos
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="0" (change)="changeTipoTemplate(0)">
                                <label class="form-check-label" for="exampleRadios1">
                                    Cadastrar
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="1" (change)="changeTipoTemplate(1)" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    Listar
                                </label>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">Usuários
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="2">
                                <label class="form-check-label" for="exampleRadios1">
                                    Cadastrar
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="3">
                                <label class="form-check-label" for="exampleRadios2">
                                    Listar
                                </label>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

   
        <div class="col-md-9">
            <ng-container *ngIf="tipoTemplate === 0">
                <app-new-product></app-new-product>
            </ng-container>
            <ng-container *ngIf="tipoTemplate === 1">
                <app-users-list-admin></app-users-list-admin>
            </ng-container>
        </div> 

    </div>

</div>