<app-navbar></app-navbar>
<div class="container align-items-center">
    <h1 class="text-center">Utensílios</h1>
    <h4 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quos temporibus molestias ea
        ad maiores harum dolore reprehenderit, quis velit voluptas ab aspernatur quae perspiciatis cum ipsam alias.
        Porro, numquam!</h4>
</div>
<div class="container">
    <div class="row">
        <app-products-category [idCategory]='3'></app-products-category>
    </div>
</div>
<app-footer></app-footer>