<app-navbar></app-navbar>
<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 d-flex justify-content-center pt-2">

            <div class="w-75">

                <div class="ml-n5">
                    <a (click)="voltar()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                    </a>
                </div>

                <div class="form-group font-fam font-weight-bold mt-3">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]='user.name' class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome">
                </div>

                <div class="form-group font-fam font-weight-bold">
                    <label for="email">Email</label>
                    <input [(ngModel)]='user.email' class="form-control" type="email" name="senha" id="senha"
                        placeholder="seuemail@examplo.com">
                </div>

                <div class="form-row font-fam font-weight-bold">
                    <div class="col">
                        <!-- <div class="form-group font-fam font-weight-bold"> -->
                            <label for="cep" class="font-fam">CEP</label>
                            <input [(ngModel)]='user.zipCode' class="form-control" type="text" name="cep" id="cep" placeholder="xxxxx-xxx">
                        <!-- </div> -->
                    </div>
                    <div class="col">
                        <!-- <div class="form-group font-fam font-weight-bold"> -->
                            <label for="telefone" class="font-fam">Telefone</label>
                            <input [(ngModel)]='user.phone' class="form-control" type="text" name="telefone" id="telefone"placeholder="(xx) xxxxx-xxxx">
                        <!-- </div> -->
                    </div>
                </div>

                <div class="form-group font-fam font-weight-bold mt-3">
                    <label for="endereco">Endereço</label>
                    <input [(ngModel)]='user.address' class="form-control" type="text" name="endereco" id="endereco"
                        placeholder="Rua , nº , bairro">
                </div>

                <div class="form-group font-fam font-weight-bold">
                    <label for="senha">Senha</label>
                    <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha"
                        placeholder="Digite sua senha">
                </div>

                <div class="form-group font-fam font-weight-bold">
                    <label for="confirmeSenha">Confirmar Senha</label>
                    <input [(ngModel)]='user.password' class="form-control" type="password" name="confirmeSenha"
                        id="confirmeSenha" placeholder="Confirme sua senha">
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <button tipe="submit" class="btn button font-fam" (click)='cadastrar()'  data-toggle="modal" data-target="#login">CADASTRAR</button>
                </div>

            </div>

        </div>
        <div class="col-md-6 mt-0 d-flex pt-2">
            <app-img [class]="'card-img-top'" [src]="'https://i.imgur.com/QD5BsJL.png'"></app-img>
        </div>
    </div>
</div>
<app-footer></app-footer>