<div class="card mx-4 my-4 d-flex justify-content-center align-items-center testeAnimacao1" style="width: 18rem;">
    <img src="{{p.urlImage}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">{{p.description}}</p>
        <p>
            <span class="badge badge-pill badge-secondary">{{p.category}}</span>
        </p>
        <button (click)="addToCart()" type="button" class="btn btn-success">ADD TO CART</button>
    </div>
</div>