<div class="card mx-4 my-4 d-flex justify-content-center align-items-center testeAnimacao1"
    style="width: 18rem; height: 25rem;">
    <app-img [class]="'card-img-top'" [style]="'height: 10rem; width: 18rem;'" [src]="p.urlImage"></app-img>
    <div class="card-body d-flex align-items-end " >
        <div class="text-center" style="width: 16rem;">
            <h5 class="card-title">{{p.name}}</h5>
            <p class="card-text">{{p.description}}</p>
            <p>
                <span class="badge badge-pill badge-secondary">{{ categoryName }}</span>
            </p>
            <button (click)="addToCart()" type="button" class="btn btn-block btn-success">ADD TO CART</button>
        </div>
    </div>
</div>