<div #component class="media my-1 border p-3 collapse show">
    <app-img style="height: 64px;" [src]="item.urlImage"></app-img>
    <div class="media-body ml-3">
        <div class="row">
            <div class="col-3">
                <h5 class="mt-0">{{item.name}}</h5>
            </div>
            <div class="col-3">
                <span class="badge badge-pill badge-secondary">Qtd {{item.productQty}}</span>
            </div>
            <div class="col-3">
                R$ {{item.price}}
            </div>
            <div class="col-3 text-right">
                <button (click)="removeItem()" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>