<div class="media my-1 border p-3">    
    <app-img style="height: 64px;" [class]="'mr-3'" [src]="item.urlImage"></app-img>
    <div class="media-body">
        <div class="row"> 
            <div class="col-4">
                <h5 class="mt-0">{{item.name}}</h5>
            </div>
            <div class="col-4">
                 <span class="badge badge-pill badge-secondary">Qtd {{item.productQty}}</span> 
            </div>
            <div class="col-4">
                R$ {{item.price}}
            </div>
        </div>
    </div>
</div>
