/* You can add global styles to this file, and also import other style files */
.font-fam {
    /* font-family: 'Poppins'; */
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}
.font1{
    font-family: 'Poiret One', sans-serif;
    letter-spacing: 1px;
}
.font-green{
    color: #364A15;
}
.font-gray{
    color:#707070;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}
  
  /* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey; 
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
  background: #364A15;
  border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b681d;
}

html{
  scroll-behavior: smooth;
}
.font-green2{
  color:#A4B501;
}
.brown-color{
  color: #943200;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9c683f80a4bd27617cb6ed38478e3159cc0ca1ca
