/* You can add global styles to this file, and also import other style files */
.font-fam {
    font-family: 'Poppins';
}
.font1{
    font-family: 'Poiret One', sans-serif;
}
.font-green{
    color: #364A15;
}
.font-gray{
    color:#707070;
}
