<app-navbar></app-navbar>

<h1 class="text-center mt-5">A EQUIPE</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-12">

      <div class="row d-flex justify-content-center mt-5">

            <div class="card m-4 animado br-10" style="width: 22rem;">
            <img src="../../assets/img/bia.png"
                class="img-fluid" alt="Foto">
            <div class="card-body">
                <h6 class="card-title fs-14">Beatriz Sofientini</h6>
                <p class="card-text d-inline">São Carlos - SP</p>
                <br>
                <p class="card-text d-inline">19 anos</p>

                <p class="text-center mt-2 mb-2">Aluna na Universidade Federal do ABC nos cursos de Bacharelado em
                    Ciência da Computação e
                    Bacharelado em Ciência e Tecnologia. Formada como Desenvolvedora Junior, sou uma
                    pessoa
                    determinada, curiosa, persistente e empolgada.</p>

                <div class="d-flex justify-content-center mt-2">
                    <a class="iconeAnimacao" href="https://github.com/biasofientini" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                    <a class="iconeAnimacao" href="https://www.linkedin.com/in/beatriz-sofientini/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                    <a class="iconeAnimacao" href="https://wa.me/5511944431251" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
                </div>

            </div>
        </div>

        <div class="card m-4 animado br-10" style="width: 22rem;">
            <img  src="../../assets/img/ricardo.png"
              class="img-fluid" alt="Foto">
            <div class="card-body">
              <h6 class="card-title fs-14">Ricardo Alex</h6>
              <p class="card-text d-inline">São Paulo - SP</p>
              <br>
              <p class="card-text d-inline">18 anos</p>
  
              <div class="d-flex justify-content-center mt-2">
                  <a class="iconeAnimacao" href="https://github.com/Ricardoamvp" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                  <a class="iconeAnimacao" href="https://www.linkedin.com/in/ramvp/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                  <a class="iconeAnimacao" href="https://wa.me/5511972238283" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
              </div>
  
            </div>
          </div>
    

        <div class="card m-4 animado br-10" style="width: 22rem;">
          <img src="../../assets/img/juci.png"
            class="img-fluid" alt="Foto">
          <div class="card-body">
            <h6 class="card-title fs-14">Juci Leal</h6>
            <p class="card-text d-inline">São Paulo - SP</p>
            <br>
            <p class="card-text d-inline">31 anos</p>

            <div class="d-flex justify-content-center mt-2">
                <a class="iconeAnimacao" href="https://github.com/biasofientini" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                <a class="iconeAnimacao" href="https://www.linkedin.com/in/beatriz-sofientini/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                <a class="iconeAnimacao" href="https://wa.me/5511944431251" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
            </div>

          </div>
        </div>









      </div>

      <div class="col-md-12 d-flex justify-content-center">


        <div class="card m-4 animado br-10" style="width: 22rem;">
            <img src="../../assets/img/joao.png"
              class="img-fluid" alt="Foto">
            <div class="card-body">
              <h6 class="card-title fs-14">João Victor Maciel</h6>
              <p class="card-text d-inline">Diadema - SP</p>
              <br>
              <p class="card-text d-inline">21 anos</p>
  
              <div class="d-flex justify-content-center mt-2">
                  <a class="iconeAnimacao" href="https://github.com/biasofientini" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                  <a class="iconeAnimacao" href="https://www.linkedin.com/in/beatriz-sofientini/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                  <a class="iconeAnimacao" href="https://wa.me/5511944431251" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
              </div>
  
            </div>
          </div>
          <div class="card m-4 animado br-10" style="width: 22rem;">
            <img src="../../assets/img/thamires.png"
              class="img-fluid" alt="Foto">
            <div class="card-body">
              <h6 class="card-title fs-14">Thamires Honorato</h6>
              <p class="card-text d-inline">Itaquaquecetuba - SP</p>
              <br>
              <p class="card-text d-inline">24 anos</p>
  
              <div class="d-flex justify-content-center mt-2">
                  <a class="iconeAnimacao" href="https://github.com/biasofientini" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                  <a class="iconeAnimacao" href="https://www.linkedin.com/in/beatriz-sofientini/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                  <a class="iconeAnimacao" href="https://wa.me/5511944431251" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
              </div>
  
            </div>
          </div>



      </div>

    </div>
</div>





<app-footer></app-footer>
