.svg1:hover{
    color:  #0e76a8;
    cursor: pointer;
}
.svg2:hover{
    color: #171515;
    cursor: pointer;
}
.svg3:hover{
    color:  #34af23;
    cursor: pointer;
}
a{
    color: #707070;
}
.img{
    border-radius: 100px;
    height: 200px;
    width: 200px;
}