<app-navbar></app-navbar>

<h1 class="text-center mt-5 font1 font-green">EQUIPE</h1>

<div class="container-fluid">
<div class="row d-flex justify-content-center">
    <div class="col-md-11">

      <div class="row d-flex justify-content-center mt-5 font-fam">

            <div class="card m-4 animado br-10" style="width: 26rem;">
            <img src="../../assets/img/bia.png"
                class="img-fluid" alt="Foto">
            <div class="card-body">
                <h6 class="card-title fs-14 font-weight-bolder">Beatriz Sofientini</h6>
                <p class="card-text d-inline">Santo André - SP</p>
                <br>
                <p class="card-text d-inline">19 anos</p>

                <p class="text-center mt-2 mb-2">Aluna na Universidade Federal do ABC nos cursos de Bacharelado em
                    Ciência da Computação e
                    Bacharelado em Ciência e Tecnologia. Formada como Desenvolvedora Junior, sou uma
                    pessoa
                    determinada, curiosa, persistente e empolgada.</p>

                <div class="d-flex justify-content-center mt-2">
                    <a class="iconeAnimacao" href="https://github.com/biasofientini" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                    <a class="iconeAnimacao" href="https://www.linkedin.com/in/beatriz-sofientini/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                    <a class="iconeAnimacao" href="https://wa.me/5511944431251" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
                </div>

            </div>
        </div>

        <div class="card m-4 animado br-10" style="width: 26rem;">
            <img  src="../../assets/img/ricardo.png"
              class="img-fluid" alt="Foto">
            <div class="card-body">
              <h6 class="card-title fs-14 font-weight-bolder">Ricardo Alex</h6>
              <p class="card-text d-inline">São Paulo - SP</p>
              <br>
              <p class="card-text d-inline">18 anos</p>
              <p class="text-center mt-2 mb-2">Cursando Bacharelado em Ciência da Computação e formado como Desenvolvedor Java Junior pela Generation Brasil. Sou apaixonado por tecnologia, estou sempre disposto a aprender novas tecnologias e encarar novos desafios.</p>
  
              <div class="d-flex justify-content-center mt-2">
                  <a class="iconeAnimacao" href="https://github.com/Ricardoamvp" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                  <a class="iconeAnimacao" href="https://www.linkedin.com/in/ramvp/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                  <a class="iconeAnimacao" href="https://wa.me/5511972238283" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
              </div>
  
            </div>
          </div>
    

        <div class="card m-4 animado br-10" style="width: 26rem;">
          <img src="../../assets/img/juci.png"
            class="img-fluid" alt="Foto">
          <div class="card-body">
            <h6 class="card-title fs-14 font-weight-bolder">Juci Leal</h6>
            <p class="card-text d-inline">São Paulo - SP</p>
            <br>
            <p class="card-text d-inline">31 anos</p>
            <p class="text-center mt-2 mb-2">Desenvolvedora Java Júnior Full Stack formada pela Generation Brasil, cursei 5 semestres de Engenharia Elétrica com ênfase em Computação. Tenho grandes espectativas e uma enorme vontade em contribuir com o setor de tecnologia.</p>

            <div class="d-flex justify-content-center mt-2">
                <a class="iconeAnimacao" href="https://github.com/LealJP" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                <a class="iconeAnimacao" href="https://www.linkedin.com/in/lealjp/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                <a class="iconeAnimacao" href="https://wa.me/5511987022993" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
            </div>

          </div>
        </div>

        <div class="card m-4 animado br-10" style="width: 26rem;">
            <img src="../../assets/img/joao.png"
              class="img-fluid" alt="Foto">
            <div class="card-body">
              <h6 class="card-title fs-14 font-weight-bolder">João Victor Maciel</h6>
              <p class="card-text d-inline">Diadema - SP</p>
              <br>
              <p class="card-text d-inline">21 anos</p>
              <p class="text-center mt-2 mb-2">Developer Web Junior formado pela Generation Brasil, cursando Publicidade e Propaganda pela Universidade Paulista e sou uma pessoa criativa, determinada e ambiciosa.</p>
              <br>
  
              <div class="d-flex justify-content-center mt-2">
                  <a class="iconeAnimacao" href="https://github.com/JoaoVictorMaciel" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                  <a class="iconeAnimacao" href="https://www.linkedin.com/in/macieldg/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                  <a class="iconeAnimacao" href="https://wa.me/5511961801717" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
              </div>
  
            </div>
          </div>
          <div class="card m-4 animado br-10" style="width: 26rem;">
            <img src="../../assets/img/thamires.png"
              class="img-fluid" alt="Foto">
            <div class="card-body">
              <h6 class="card-title fs-14 font-weight-bolder">Thamires Honorato</h6>
              <p class="card-text d-inline">Itaquaquecetuba - SP</p>
              <br>
              <p class="card-text d-inline">24 anos</p>
              <p class="text-center mt-2 mb-2">Cursando o primeiro ano de Gestão de T.I.  pela  Pontifícia Universidade Católica do Paraná. Conclusão do bootcamp da Generation Brasil como Desenvolvedora Full Stack.</p>
              <br>
              <div class="d-flex justify-content-center mt-2">
                  <a class="iconeAnimacao" href="https://github.com/ThamiresHonorato" target="_blank"> <img class="iconesCard" src="../../assets/img/github (1).png" alt=""></a>
                  <a class="iconeAnimacao" href="https://www.linkedin.com/in/thamireshonorato/" target="_blank"> <img class="iconesCard" src="../../assets/img/linkedin.png" alt=""> </a>
                  <a class="iconeAnimacao" href="https://wa.me/5544988556205" target="_blank"> <img class="iconesCard" src="../../assets/img/whatsapp.png" alt=""> </a>
              </div>
  
            </div>
          </div>



      </div>

    </div>
</div>
</div>





<app-footer></app-footer>
