<app-navbar></app-navbar>


<!-- VÍDEO -->
<div class="container-fluid">
    <div class="row container-video">
        <video width="100%" autoplay="autoplay" loop="loop">
            <source src="../../assets/img/video2.mp4" type="video/mp4">
        </video>
        <h1 class="centered font1">Lifeshop</h1>
        <!-- <h2 class="centered font1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt. </h2> -->
    </div>
</div>
<!-- /VÍDEO -->


<!-- DESTAQUES DA SEMANA -->
<!--
<div class="container font-fam">
    <div class="row">
        <h3 class="font-green mt-3 font-weight-bold">Destaques da Semana</h3>
        <div class="card mx-4 my-4 align-items-center card-pref week-config" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top card-pref" alt="...">
            <div class="card-body card-pref">
                <h5 class="card-title font font-weight-bold">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p class="card-text price">R$ 00,00</p>
                <p>
                    <span class="badge badge-pill badge-secondary font">Food</span>
                </p>
                <a href="#" class="btn btn-card">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center card-pref week-config" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top card-pref" alt="...">
            <div class="card-body card-pref">
                <h5 class="card-title font-weight-bold">Vegan food</h5>
                <p class="card-text font">A delicious pack of vegan food</p>
                <p class="card-text price">R$ 00,00</p>
                <p>
                    <span class="badge badge-pill badge-secondary font">Food</span>
                </p>
                <a href="#" class="btn btn-card">ADD TO CART</a>
            </div>
        </div>
        <div class="card mx-4 my-4 align-items-center card-pref week-config" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1540914124281-342587941389?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                class="card-img-top card-pref" alt="...">
            <div class="card-body card-pref align-items-center">
                <h5 class="card-title font font-weight-bold">Vegan food</h5>
                <p class="card-text">A delicious pack of vegan food</p>
                <p class="card-text price">R$ 00,00</p>
                <p>
                <p>
                
                    <span class="badge badge-pill badge-secondary font">Food</span>
                </p>
                <a href="#" class="btn btn-card">ADD TO CART</a>
            </div>
        </div>
    </div>

</div> -->
<!-- / DESTAQUES DA SEMANA -->

<!--CATEGORIAS  -->

<div class="container-fluid">
    <h3 class="font-green pt-3 font-weight-bold font-fam ml-3">Categorias</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="categoriaAnimacao">
                <img class="img-fluid img-size" src="../../assets/img/vestuario-cat1.jpg" alt="">
                <h4 class="cat-texto font-fam">ALIMENTOS</h4>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="categoriaAnimacao">
                <img class="img-fluid img-size" src="../../assets/img/vestuario-cat1.jpg" alt="">
                <h4 class="cat-texto font-fam">VESTUÁRIO</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="categoriaAnimacao">
                <img class="img-fluid img-size" src="../../assets/img/vestuario-cat1.jpg" alt="">
                <h4 class="cat-texto font-fam">BEM ESTAR</h4>
            </div>
        </div>
    </div>
    <!-- <div class="row ml-1 mr-1 mt-3 pb-5"> -->
    <div class="row mt-3 pb-5">
        <div class="col-md-6 ">
            <div class="categoriaAnimacao">
                <img class="img-fluid img-size" src="../../assets/img/vestuario-cat1.jpg" alt="">
                <h4 class="cat-texto font-fam">ACESSÓRIOS</h4>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="categoriaAnimacao">
                <img class="img-fluid img-size" src="../../assets/img/vestuario-cat1.jpg" alt="">
                <h4 class="cat-texto font-fam">UTILITÁRIOS</h4>

            </div>
        </div>
    </div>
    <!-- /CATEGORIAS -->

    <!-- SOBRE DOAÇÃO -->

    <!-- <div class="container">
    <div class="row d-flex justify-content-start align-items-center mb-5 mt-5">

        <div class="col-md-5">
            <div class="row d-flex justify-content-start">
                <h1 class="text-left mb-3 mt-5 font-weight-bold font-fam font-green">Quando você compra, <br> você doa!</h1>
                <h3 class="text-left font-gray mt-2">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</h3>
                <a href="#" class="btn btn-config font-fam mt-5">Saiba Mais ></a>
            </div>
        </div>

        <div class="col-md-7">

            <div class="row d-flex justify-content-start align-items-center">
                <div class="col-md-3 mr-136 ml-5">
                    <div class="card " style="width: 18rem; height: 15rem; background-color: #5B4126;">
                        <div class="card-body">
                            <h3 class="mt-5"> Colocar icone aqui </h3>
                            <h5 class="card-title">Título especial</h5>
                            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um
                                conteúdo adicional.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;  height: 15rem; background-color: #A04306;">
                        <div class="card-body">
                            <h3 class="mt-5"> Colocar icone aqui </h3>
                            <h5 class="card-title">Título especial</h5>
                            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um
                                conteúdo adicional.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;  height: 15rem; background-color: #4E7E48;">
                        <div class="card-body">
                            <h3 class="mt-5"> Colocar icone aqui </h3>
                            <h5 class="card-title">Título especial</h5>
                            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um
                                conteúdo adicional.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>
    </div>
</div> -->
    <!-- /DOAÇÃO -->


    <div class="container">
        <div class="row d-flex justify-content-between align-items-center mb-5 mt-3">
            <div class="col-md-5">
                <div class="row d-flex justify-content-start">
                    <h1 class="text-left mb-3 mt-5 font-weight-bold font-fam font-green">Quando você compra, <br> você
                        doa!</h1>
                    <h3 class="text-left font-gray mt-2">Se você procura por uma loja com diversidade em produtos, essa loja é para você! Mas, por que só comprar? Por que não doar também? Se torne um cliente da Lifeshop e experimente fazer os dois ao mesmo tempo!</h3>
                    <a href="#" class="btn btn-config font-fam mt-5">Saiba Mais ></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card " style="width: 18rem; height: 15rem; background-color: #5B4126;">
                    <div class="card-body">
                        <h3> Colocar icone aqui </h3>
                        <h5 class="card-title">Não sabe por onde começar?</h5>
                        <p class="card-text">Fique tranquilo! Nós te ajudamos! Clique aqui e se torne parte de um projeto muito maior!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="card mb-3" style="width: 18rem;  height: 15rem; background-color: #A04306;">
                    <div class="card-body">
                        <h3> Colocar icone aqui </h3>
                        <h5 class="card-title">Veja nossos produtos</h5>
                        <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um
                            conteúdo adicional.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;  height: 15rem; background-color: #4E7E48;">
                    <div class="card-body">
                        <h3> Colocar icone aqui </h3>
                        <h5 class="card-title">Conheça os bastidores da Lifeshop</h5>
                        <p class="card-text">Veja a Lifeshop muito além de seus produtos</p>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <app-footer></app-footer>