
<table class="table">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Estoque</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Suco de uva</td>
        <td>Suco Nutritivo de Uva</td>
        <td>R$ 5,80</td>
        <td>Contém 2</td>
        
      </tr>
      <tr>
        <th>2</th>
        <td>Camiseta</td>
        <td>Camiseta branca </td>
        <td>R$ 25,90</td>
        <td>Contém 6</td>
        
      </tr>
    </tbody>
  </table>
  
